[build]
  command = "npm run build"
  publish = "dist"

[functions]
  external_node_modules = ["express", "cors", "serverless-http"]
  node_bundler = "esbuild"
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
